In [6]:
import requests
import pandas as pd

In [9]:
url = "https://www.sec.gov/files/company_tickers.json"
headers = {
    'User-Agent': 'Chan Lee (klavier0823@gmail.com)',  # 실제 이름과 이메일로 변경
    'Accept-Encoding': 'gzip, deflate',
    'Host': 'www.sec.gov'
}

In [11]:
response = requests.get(url, headers=headers)
response.raise_for_status()
data = response.json()

# JSON 데이터를 데이터프레임으로 변환
df = pd.DataFrame.from_dict(data, orient='index')

In [12]:
df.head()

   cik_str ticker           title
0   320193   AAPL      Apple Inc.
1   789019   MSFT  MICROSOFT CORP
2  1045810   NVDA     NVIDIA CORP
3  1652044  GOOGL   Alphabet Inc.
4  1018724   AMZN  AMAZON COM INC